<template>
  <CourseList :title='title' :subtitle='subtitle' :courses='courses'>
    <footer class='card-footer' slot='card-footer' slot-scope='slotProps'>
      <a class='card-footer-item'>Acessar</a>
    </footer>
  </CourseList>
</template>
<script>
import CourseList from '@/components/CourseList'

export default {
  name: 'UserCourseList',
  components: { CourseList },
  data() {
    return {
      title: 'Meus cursos',
      subtitle: 'Você ainda não possui inscrições em cursos',
      courses: []
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      Api.get(`/users/courses`)
        .then(({data}) => this.courses = data)
        .catch((error) => console.log(error.reponse.data))
    }
  }
}
</script>
