<template>
  <div class='field'>
    <label v-if='label' class='label' :for='id'>
      {{label}}
    </label>
    <div class='control'>
      <input :name='name' :id='id'
             :class="[klass, {'is-danger': hasErrors}]" :type='type' :value='value'
             @input="$emit('input', $event.target.value)"
             :placeholder='placeholder' />
    </div>
    <p v-for='message in errors' class='help is-danger'>{{message}}</p>
  </div>
</template>
<script>
export default {
  name: 'Input',
  props: ['label', 'id', 'name', 'klass', 'value', 'type', 'errors', 'placeholder'],
  computed: {
    hasErrors() {
      return this.errors && this.errors.length > 0;
    }
  }
}
</script>
