<template>
  <div class='field'>
    <label class='label' :for='id'>
      {{label}}
    </label>
    <div class='control'>
      <textarea :name='name' :id='id'
        :class="[klass, { 'is-danger': hasErrors}]" :value='value'
                @input="$emit('input', $event.target.value)" ></textarea>
    </div>

    <p v-for='message in errors' class='help is-danger'>{{message}}</p>
  </div>
</template>
<script>
export default {
  name: 'Textarea',
  props: ['label', 'id', 'name', 'klass', 'value', 'errors'],
  computed: {
    hasErrors() {
      return this.errors.length > 0;
    }
  }
}
</script>
