<template>
  <div class='columns padding-top--100'>
    <div class='column is-half is-offset-one-quarter'>
      <div class='box vh-60'>
        <div class='padding-top-bottom--15px'>
          <p class='title is-2 has-text-centered'>Faça o seu login</p>
        </div>
        <div class='padding-top-bottom--15px'>
          <form id='login' @submit.prevent='authenticate'>
            <Input id='email' klass='input is-large' name='email'
            v-model='credentials.email' placeholder='Email'/>
            <Input id='password' klass='input is-large' type='password'
            name='password' v-model='credentials.password' placeholder='Senha' />
            <div class='control'>
              <button class='button is-primary is-large is-fullwidth'>Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Input from '@base/forms/Input.vue';
import { Authenticate } from '@/services/Authenticate.js'

let defaultAttrs = {
  email: null,
  password: null,
  grant_type: 'password'
}

export default {
  name: 'Login',
  components: { Input },
  data() {
    return { credentials:  Object.assign({}, defaultAttrs) }
  },
  methods: {
    authenticate: function(target) {
      let payload = this.credentials
      let vm = this

      Authenticate(payload, (user) => {
        vm.$router.push(user.redirect_to || '/')
      })
    }
  }
}
</script>
