<template>
  <nav class='navbar' role='navigation' aria-label='main navigation'>
    <div class='container'>
      <div class='navbar-brand'>
          <router-link to='/' class='navbar-item'>
            <img src='/static/logo.png' class='image is-64x64' /> OnSchool
          </router-link>
      </div>
      <div class='navbar-menu'>
        <div v-if='authenticated' class='navbar-end'>
          <div :class="[classes, { 'is-active': menuActived }]">
            <a class="navbar-link" @click='toogleMenu'>{{userName}}</a>


            <div class='navbar-dropdown is-dropdown is-right'>
              <router-link v-for='(link, index) in links' :to='link.path'
                :key='index' class='navbar-item'>{{link.text}}</router-link>
              <a @click='logout' class='navbar-item'>Sair</a>
            </div>
          </div>
        </div>

        <div v-if='!authenticated' class='navbar-end'>
          <div class='buttons'>
            <router-link to='/login' class='button'>Login</router-link>
            <router-link to='/register' class='button'>Cadastro</router-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
import { destroySession, hasSession } from '@/services/Authenticate'

let defaultAttrs = {
  classes: ["navbar-item", "has-dropdown"],
  menuActived: false,
  userName: localStorage.getItem('user.name'),
  authenticated: hasSession(),
  links: []
}

export default {
  name: 'Navbar',
  data() {
    return Object.assign(defaultAttrs, {})
  },
  created: function() {
    window.addEventListener('update-session', this.onUpdateSession)
  },
  methods: {
    onUpdateSession: function(target) {
      this.authenticated = hasSession()
      this.userName = localStorage.getItem('user.name')
      this.links = target.user.links
    },
    logout() {
      let vm = this

      destroySession(() => {
        vm.menuActived = false
        vm.$router.push('/login')
      })
    },
    toogleMenu() {
      this.menuActived = !this.menuActived;
    }
  }
}
</script>
