<template>
  <span :class="[defaultClasses, classes]">{{content}}</span>
</template>
<script>
export default {
  name: 'Tag',
  props: ['classes', 'content'],
  data () {
    return { defaultClasses: { 'tag': true } }
  }
}
</script>
