<template>
  <div class='courses'>
    <div class='columns is-multiline'>
      <div class='column is-12'>
        <p class='title'>{{title}}</p>
      </div>
      <slot name='course-links'></slot>
    </div>
    <div class='columns is-multiline'>
      <div v-if='!courses.length' class='column is-12'>
        {{subtitle}}
      </div>
      <div class='column is-4' v-for='course in courses'>
        <div class='card'>
          <header class='card-header'>
            <p class='card-header-title'>{{course.title}}</p>
            <span class='card-header-icon'>
              <Tag :classes="[course.active ? 'is-success' : 'is-light']" content='active' />
            </span>
          </header>
          <div class='card-content'>
            <div class='content'>
              {{course.description}}
            </div>
          </div>
          <slot name='card-footer' v-bind:course='course'>
          </slot >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Tag from '@base/Tag'

export default {
  name: 'CourseList',
  components: { Tag },
  props: ['title', 'subtitle','courses'],
}
</script>
