<template>
  <main>
    <header>
      <Navbar />
    </header>
    <section class='section vh-80'>
      <div class='container'>
        <router-view name='breadcrumbs' />
        <router-view />
      </div>
    </section>
    <footer class='footer'>
      <div class='content has-text-centered'>
        Footer
      </div>
    </footer>
  </main>
</template>
<script>
import Navbar from '@base/Navbar';

export default {
  name: 'Dashboard',
  components: { Navbar },
  data() {
    return { hero: true }
  }
}
</script>
