<template>
  <div id="hello-world">
    <h1> Hello World</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld'
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
