<template>
  <div class='hero'>
    <div class='hero-body lr-paddingless'>
      <p class='title is-1'>Valorize seu conhecimento</p>
      <p class='subtitle is-4'>Desenvolva suas habilidades e competências com a
      OnSchool</p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Hero'
}
</script>
