<template>
  <div class='courses-list'>
    <Hero />
    <div class='columns'>
      <div class='column is-12'>
        <form id='search' @submit.prevent='search'>
          <div class='field has-addons'>
            <div class='control is-fullwidth'>
              <input class='input' name='query' id='query' v-model='query' placeholder='Pesquise por um curso de sua preferencia' />
            </div>
            <div class='control'>
              <button class='button is-primary'>buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class='spacer'></div>
    <div class='columns'>
      <div class='column is-12'><h2 class='subtitle'>Cursos disponiveis</h2></div>
    </div>
    <div class='columns is-multiline'>
      <div class='column is-3' v-for='course in courses'>
        <div class='card'>
          <div v-if='hasImage(course)' class='card-image'>
            <figure class='image is-4by3'>
              <img v-bind:src='course._links.cover' alt='capa do curso'>
            </figure>
          </div>
          <div class='card-content'>
            <div class='media'>
              <div class='media-content'>
                <p class='title is-4'>{{course.title}}</p>
                <p class='subtitle is-6'>Feito por:  {{course.owner}}</p>
                <p class='subtitle is-6'>R$ 19.99</p>
              </div>
            </div>
            <div class='content'>
              {{course.description}}
            </div>
            <p class='buttons is-centered'>
            <a class='button'>Inscrever-se</a>
            <a class='button'>Visualizar</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='columns'>
      <div class='column is-12'>
        <nav class="pagination is-centered" role="navigation"
                                            aria-label="pagination">
          <a class="pagination-previous">Anterior</a>
          <a class="pagination-next">Próxima</a>
          <ul class="pagination-list">
            <li><a class="pagination-link" aria-label="Goto page
            1">1</a></li>
            <li><span
                                           class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link  is-current" aria-label="Goto page
            45">1</a></li>
            <li><a class="pagination-link"
                   aria-label="Page 46"
                   aria-current="page">2</a></li>
            <li><a class="pagination-link"
                   aria-label="Goto page 47">3</a></li>
            <li><span
                   class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link"
                   aria-label="Goto page
                   86">86</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>
<script>
import Hero from '@/components/Hero';

export default {
  name: 'HomePage',
  data() {
    return { courses: [], query: null }
  },
  components: { Hero },
  created() {
    this.fetchData()
  },
  methods: {
    hasImage(course) {
      return course._links.cover != null
    },
    fetchData() {
      let vm = this
      Api.get('/courses')
        .then(({data}) => {
          console.log(data)
          vm.courses = data
        }).catch((error) => console.log(error.response.error))
    }
  }
}
</script>
