<template>
  <div>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><router-link :to="{ path: '/' }">Home</router-link></li>
      </ul>
    </nav>
    <div class='box vh-60'>
      <h1 class='title has-text-centered'>Crie sua conta</h1>
      <div class='columns is-multiline'>
        <div class='column is-12'>
          <form id='course' @submit.prevent='createUser'>
            <Input label='Nome' id='user_name' klass='input is-medium' name='Nome'
                            v-model='user.name' :errors='user.errors.name' />
            <Input label='Sobrenome' id='user_last_name' klass='input is-medium' name='Sobrenome'
                            v-model='user.last_name' :errors='user.errors.last_name' />
            <Input label='E-mail' id='user_email' klass='input is-medium' name='Email'
                            v-model='user.email' :errors='user.errors.email' />
            <Input label='CPF' id='user_profile_attributes_document_number' klass='input
            is-medium' name='CPF'
                            v-model='user.profile_attributes.document_number' :errors='user.errors.profile_attributes.document_number' />
            <Input id='password' klass='input is-medium' type='password'
                            label='Senha' name='user_password'
                            v-model='user.password' placeholder='Digite sua Senha' :errors='user.errors.password' />
            <Input id='password' klass='input is-medium' type='password' label='Confirmação da Senha'
            name='user_password_confirmation'
            v-model='user.password_confirmation' placeholder='Repita a Senha'
            :errors='user.errors.password_confirmation' />
            <div class='field'>
              <label class='label'>Perfil</label>
              <div class='control'>
                <div class='select is-medium'>
                  <select v-model='user.profile_attributes.account_type'>
                    <option value=''>Selecione seu perfil</option>
                    <option value='student'>Estudante</option>
                    <option value='tutor'>Tutor</option>
                  </select>
                </div>
                <p v-for='message in user.errors.profile_attributes.account_type' class='help is-danger'>{{message}}</p>
              </div>
            </div>
            <div class='control'>
              <button class='button is-medium is-primary'>Criar conta</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import Input from '@base/forms/Input.vue'
import { AuthenticateCreatedUser } from '@/services/Authenticate.js'

let userAttrs = {
  name: '',
  last_name: '',
  email: '',
  password: '',
  password_confirmation: '',
  profile_attributes: {
    account_type: '',
    document_number: ''
  },
  errors: {
    name: [],
    last_name: [],
    email: [],
    password: [],
    password_confirmation: [],
    profile_attributes: {
      account_type: [],
      document_number: []
    }
  }
}
export default {
  name: 'RegisterForm',
  components: { Input },
  data() {
    return {
      user: Object.assign({}, userAttrs)
    }
  },
  methods: {
    createUser() {
      let vm = this
      let { errors,  ...attributes } = vm.user
      Api.post('/register', { user: attributes })
        .then(({data}) => {
          vm.$router.push('/login')
        }).catch(({ response })=> {
          vm.handleError(response.data)
        })
    },
    handleError({error}) {
      let { name, last_name, email, password,
        password_confirmation, ...profile } = error
      let errors = { name, last_name, email, password, password_confirmation }
      let profile_attributes = {}
      Object.keys(profile).forEach((key) => {
        let attrName = key.split(".")[1]
        profile_attributes[attrName] = profile[key]
      })
      this.user.errors = { ...errors, profile_attributes }
    },
  }
}
</script>


