<template>
  <CourseList title='Lista de Cursos' subtitle='Você ainda não criou um
  curso...' :courses='courses'>
      <div class='column is-12' slot='course-links'>
        <router-link class='button' :to="{name: 'newCourse'}">Novo curso</router-link>
      </div>
    <footer class='card-footer' slot='card-footer' slot-scope='slotProps'>
      <router-link class='card-footer-item' :to="{ name: 'courseDetails', params: {
        course_id: slotProps.course.id } }">Gerenciar
        </router-link>
    </footer>
  </CourseList>
</template>
<script>

import CourseList from '@/components/CourseList'

export default {
  name: 'AdminCourseList',
  components: { CourseList },
  data() {
    return { courses: [] }
  },
  mounted() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      Api.get('/admin/courses')
        .then(({data}) => this.courses = data)
        .catch(error => console.log(error.response.body))
    }
  }
}
</script>
