<template>
  <div class='columns is-multiline'>
    <div class='column is-12'>
      <form id='course' @submit.prevent='save'>
        <Input label='Título' id='title' klass='input' name='title'
        v-model='course.title' :errors='course.errors.title' />
        <Textarea label='Descrição' id='description' klass='textarea'
          name='description' v-model='course.description'
          :errors='course.errors.description' />
          <div class='control'>
            <button class='button is-primary'>Salvar</button>
          </div>
      </form>
    </div>
  </div>
</template>
<script>
import Input from '@base/forms/Input.vue'
import Textarea from '@base/forms/Textarea.vue'

let defaultAttr = {
  title: '',
  description: '',
  errors: {
    title: [],
    description: []
  }
}

export default {
  name: 'CourseDetails',
  data() {
    return {
      course: Object.assign({}, defaultAttr),
    }
  },
  components: { Input, Textarea },
  created() {
    this.fetchCourse()
  },
  methods: {
    fetchCourse() {
      let vm = this
      Api.get(`/admin/courses/${vm.$route.params.course_id}`)
        .then(({data}) => {
          vm.course.title = data.title
          vm.course.description = data.description
          vm.$parent.title = data.title
        }).catch((error) => console.log(error))
    },
    handleError(data) {
      this.course.errors = data.error
    },
    save(target) {
      let payload = {
        title: this.course.title,
        description: this.course.description
      }

      let vm = this
      Api.patch(`/admin/courses/${vm.$route.params.course_id}`, payload)
        .catch(error => this.handleError(error.response.data))
    }
  }
}
</script>
