<template>
  <div class='columns is-multiline'>
    <div class='column is-12'>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><router-link :to="{ name: 'courseTopic', params: this.$route.params }">Voltar para lista de conteúdo</router-link></li>
          <li class="is-active"><a href="#" aria-current="page">{{title || 'Nova aula'}}</a></li>
        </ul>
      </nav>
    </div>
    <div class='column is-12'>
      <p class='title'>Editor de contéudo</p>
    </div>
    <div class='column is-12'>
      <form id='lesson' @submit.prevent='saveLesson'>
        <div class='field has-addons'>
          <div class='control is-fullwidth'>
            <input class='input' name='title' v-model='title' id='title' placeholder='Digite o título da aula' />
          </div>
          <div class='control'>
            <button class='button is-primary'>Salvar</button>
          </div>
        </div>
        <div class="trix-container">
          <trix-editor
             input='editor'
             class="trix-content"
             ref="trix"
             @trix-change="updateContent"
             @trix-attachment-add="upload">
          </trix-editor>
          <input
             type="hidden"
             name="content"
             id="editor"
             :value.prop="content">
        </div>
      </form>
    </div>
  </div>
</template>
<script>

import Trix from 'trix'
import { AttachmentButton, uploadFile, updateVideo } from '@/base/mixins/TrixUpdate'

export default {
  name: 'CourseEditor',
  data() {
    return { content: null, title: null }
  },
  props: {
    topic_id: null,
    lesson_id: null,
    course_id: null
  },
  created() {
    document.addEventListener('trix-initialize', function(event) {
      AttachmentButton(event.target)
    })

    if (this.lesson_id) {
      this.fetchLesson()
    }
  },
  methods: {
    updateContent(e) {
      this.content = e.srcElement.innerHTML
    },
    fetchLesson() {
      let vm = this
      Api.get(`/admin/courses/${this.course_id}/lessons/${this.lesson_id}`)
        .then(({data}) => {
          vm.content = data.description
          vm.title = data.title
          vm.$refs.trix.editor.loadHTML(vm.content)
        }).catch((error) => console.log(error))
    },
    lessonParams() {
      return {
        lesson_id: this.lesson_id,
        course_id: this.course_id,
        topic_id: this.topic_id
      }
    },
    upload(e) {
      let vm = this
      let attachment = e.attachment

      console.log(this.lesson_id)
      if (this.lesson_id == null) {
        this.createLesson().then(({data}) => {
          this.lesson_id = data.id
          vm.$router.push({ query: { lesson_id: data.id } })
          uploadFile(attachment, vm.lessonParams()).then(({data}) => {
            updateVideo(attachment, data)
            vm.saveLesson()
          }).catch((error) => console.log(error))

        }).catch((error) => console.log(error))
      } else {
        uploadFile(attachment, this.lessonParams()).then(({data}) => {
          updateVideo(attachment, data)
          vm.saveLesson()
        }).catch((error) => console.log(error))
      }
    },
    saveLesson() {
      let payload = {
        lesson: {
          title: this.title,
          description: this.content,
          topic_id: this.topic_id
        }
      }

      Api.patch(`/admin/courses/${this.course_id}/lessons/${this.lesson_id}`, payload)
        .then((response) => console.log(response))
        .catch((response) => console.log(response)) },

    createLesson() {
      let payload = {
        lesson: {
          description: this.$refs.trix.innerHTML,
          topic_id: this.topic_id,
          title: this.title
        }
      }

      return Api.post(`/admin/courses/${this.course_id}/lessons`, payload)
    }
  }
}
</script>
