<template>
  <div class='columns is-multiline'>
    <div class='column is-12'>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><router-link :to="{ path: '/admin/courses' }">Voltar para lista de cursos</router-link></li>
          <li class="is-active"><a href="#" aria-current="page">{{title || 'Curso'}}</a></li>
        </ul>
      </nav>
    </div>
    <div class='column is-12'>
      <div class='panel has-background-white'>
        <div class='panel-heading no-border-bottom has-background-white'>
          <div class='tabs'>
            <ul>
              <li><router-link :to="{ name: 'courseDetails', params: $route.params }">Detalhes</router-link></li>
              <li><a>Inscrições</a></li>
              <li><router-link :to="{ name: 'courseTopics' }">Tópicos</router-link></li>
              <li><a>Forum</a></li>
            </ul>
          </div>
        </div>
        <div class='panel-block is-block is-paddingless'>
          <div class='container is-fluid panel-content-padding is-marginless min-height--vh-60'>
            <router-view />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CoursePanel',
  data() {
    return { title: null }
  }
}
</script>
