<template>
  <div class='columns is-multiline'>
    <div class='column is-12'>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><router-link :to="{ path: '/admin/courses' }">Voltar para lista de cursos</router-link></li>
          <li class="is-active"><a href="#" aria-current="page">{{'Nova curso'}}</a></li>
        </ul>
      </nav>
    </div>
    <div class='column is-12'>
      <form id='course' @submit.prevent='createCourse'>
        <Input label='Título' id='title' klass='input' name='title'
        v-model='course.title' :errors='course.errors.title' />
        <div class='field'>
          <label class='label'>Imagem Capa</label>
          <div class='file has-name is-right is-fullwidth'>
            <label class='file-label'>
              <input class='file-input' type='file' name='cover' @change='updateCover' ref='file'>
              <span class='file-cta'>
                <span class='file-icon'>
                  <i class='fas fa-upload'></i>
                </span>
                <span class='file-label'>Escolha uma imagem</span>
              </span>
              <span class='file-name'>{{  course.filename || 'nome do arquivo...' }}</span>
            </label>
          </div>
        </div>
        <Textarea label='Descrição' id='description' klass='textarea'
                                            name='description' v-model='course.description'
                                            :errors='course.errors.description' />
          <div class='control'>
            <button class='button is-primary'>Criar</button>
          </div>
      </form>
    </div>
  </div>
</template>

<script>
import Input from '@base/forms/Input.vue'
import Textarea from '@base/forms/Textarea.vue'

let defaultAttr = {
  title: '',
  description: '',
  cover: '',
  filename: null,
  errors: {
    title: [],
    description: [],
    cover: []
  }
}

export default {
  name: 'CourseNew',
  data() {
    return {
      course: Object.assign({}, defaultAttr),
    }
  },
  components: { Input, Textarea },
  methods: {
    updateCover({target}) {
      let cover= target.files[0]
      this.course.cover = cover
      this.course.filename = cover.name
    },
    handleError(data) {
      this.course.errors = data.error
    },
    createCourse: function(target) {
      let fd = new FormData()
      fd.append('title', this.course.title)
      fd.append('description', this.course.description)
      fd.append('cover', this.course.cover)

      Api.post('/admin/courses', fd)
        .then(response => {
          this.course = Object.assign({}, defaultAttr)
        })
        .catch(error => this.handleError(error.response.data))
    }
  }
}
</script>
