<template>
  <div class='columns is-multiline'>
    <div class='column is-12'>
    <form id='course_topic' @submit.prevent='createCourseTopic'>
      <div class='field has-addons'>
        <div class='control is-fullwidth'>
          <input class='input' name='title' id='title' v-model='newTopic.title' placeholder='Digite o título do tópico' />
        </div>
        <div class='control'>
          <button class='button is-primary'>Salvar</button>
        </div>
        <p v-for='message in newTopic.errors.title' class='help is-danger'>{{message}}</p>
      </div>
    </form>
    </div>
    <div class='column is-12'>
      <table class='table is-fullwidth'>
        <thead>
          <tr>
            <th>#</th>
            <th>Titulo</th>
            <th>Aulas</th>
            <th>Atividades</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='(topic, index) in topics' :key='topic.id'>
            <td>{{index}}</td>
            <td>{{topic.title}}</td>
            <td>{{topic.total_lessons}}</td>
            <td>{{topic.total_assessments}}</td>
            <td>
              <router-link class='button' :to="{ name: 'courseTopic', params: { topic_id: topic.id } }">Visualizar</router-link>
              <a class='button' @click='deleteTopic(topic)'>Remover</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>

import Input from '@base/forms/Input.vue'

let defaultAttr = {
  title: '',
  errors: {
    title: [],
  }
}
export default {
  name: 'TopicsList',
  data() {
    return { topics: [], newTopic: Object.assign({}, defaultAttr) }
  },
  components: { Input },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      let vm = this
      Api.get(`/admin/courses/${vm.$route.params.course_id}/topics`)
        .then(response => {
          vm.topics = response.data
        })
    },
    handleError(data) {
      this.newTopic.errors = data.error
    },

    deleteTopic(topic) {
      this.topics = this.topics
        .filter((t) => topic.id != t.id)
      Api.delete(`/admin/courses/${vm.$route.params.course_id}/topics/${topic.id}`)
        .catch((error) => console.log(error))
    },

    createCourseTopic(target) {
      console.log(this.newTopic)
      let payload = {
        title: this.newTopic.title
      }

      let vm = this
      Api.post(`/admin/courses/${vm.$route.params.course_id}/topics`, payload)
        .then((response) => vm.topics.push(response.data))
    }
  }
}
</script>
