<template>
  <div class='columns is-multiline'>
    <div class='column is-12'>
      <p class='title has-text-center'>Lista de conteúdo</p>
      <p class='subtitle'>
        <router-link class='button sm' :to="{ name: 'courseEditor', params: params() }">Nova aula</router-link>
      </p>
    </div>
    <div class='column is-12'>
      <table class='table is-fullwidth'>
        <thead>
          <tr>
            <th>#</th>
            <th>Titulo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='(lesson, index) in topic.lessons' :key='lesson.id'>
            <td>{{index}}</td>
            <td>{{lesson.title}}</td>
            <td>
              <router-link class='button' :to="{ name: 'courseEditor', params: params(), query: { lesson_id: lesson.id } }">editar</router-link>
              <a class='button' @click='deleteLesson(lesson)'>Remover</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  name: 'TopicPage',
  data() {
    return { topic: { title: '', lessons: [] }}
  },
  mounted() {
    this.fetchTopic()
  },
  methods: {
    params() {
      return this.$route.params
    },
    deleteLesson(lesson) {
      let { course_id } = this.params()
      let vm = this
      Api.delete(`/admin/courses/${course_id}/lessons/${lesson.id}`)
        .then((response) => vm.topic.lessons = vm.topic.lessons.filter((l) =>
          l.id != lesson.id))
        .catch((error) => console.log(error))
    },
    fetchTopic() {
      let vm = this
      let { course_id, topic_id } = this.$route.params
      Api.get(`/admin/courses/${course_id}/topics/${topic_id}`)
        .then(({data}) => {
          vm.topic = data
        }).catch((error) => console.warn(error))
    }
  }
}
</script>
