@import './icons.css';
@import './paddings.css';
@import './borders.css';
@import './cursor.css';
@import './helpers.css';
@import './trix.css';
@import './bg-colors.css';

footer {
  width: 100%;
  bottom: 0;
}

.vh-80 {
  min-height: 80vh;
}

.vh-60 {
  min-height: 30vh;
}

