.padding-top--30 {
  padding-top: 30px;
}

.padding-top-bottom--15px {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-top--100 {
  padding-top: 100px;
}

.panel-content-padding {
  padding: 0.5em 1.75em;
}


.lr-paddingless {
  padding-left: 0;
  padding-right: 0;
}
